<?xml version="1.0" encoding="utf-8" ?>
<widget appId="10030629" channelCode="000" version="0.1" widgetId="">
    <name>测试uexDemo</name>
    <description>测试插件Demo</description>
    <author email="3g2win@mail.com">3g2win</author>
    <icon src="icon.png"></icon>
    <license href="http://3g2win.com"></license>
    <content encoding="utf-8" src="index.html"></content>
    <logserverip>192.168.1.28</logserverip>
    <obfuscation>false</obfuscation>
    <updateurl>http://192.168.1.28:8080/widget/update</updateurl>
    <showmyspace>true</showmyspace>
    <bgcolor>#fefefe</bgcolor>
    <widgetOne version="[widgetOneVersion]"/>
    <orientation>15</orientation>
    <config desc="uexGaodeNavi" type="KEY">
        <param name="$uexGaodeNavi_appKey$" platform="Android" value="209883bc35ae7d04176febb72a856afe"/>
    </config>
</widget>